* {
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

.card-title {
    background-color: silver;
    text-align: center;
}

.card-body {
    background-color: springgreen;
}

.text-center {
    background-color: black !important;
    color: whitesmoke !important;
}